@import '../../../styles/extends.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  @extend %container;
  // max-height: 100vh;

  background-color: $salt;
}

.slider_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin: 0 -60px;
  
  @include bp-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -40px;
    transform: translateY(0);
    margin-top: 25px;
  }
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  min-height: 80vh;
  margin-bottom: 60px;

  @include bp-tablet {
    align-items: center;
  }

  @include bp-custom-down(600px) {
    // margin-bottom: 60px;
  }

  @include bp-mobile {
    align-items: normal;
    
  }
}

.title {
  @extend %title;

  @include bp-tablet {
    margin-left: -40px;
  }

  @include bp-custom-down(950px) {
    margin-left: 0;
  }
}

.services_list {
  @include font-orditron-500;
  font-size: 22px;
  color: $carbon;
  height: 40px;
  max-width: max-content;

  @include bp-tablet {
    font-size: 18px;
    min-height: 40px;
    margin-left: -40px;
  }

  @include bp-custom-down(950px) {
    margin-left: 0;
  }

  @include bp-mobile {
    height: 70px;
  }
}

.service_item {
  animation: scale 0.3s;

  &:nth-child(2n) {
    color: $lava;
    @include font-orditron-700;
  }
}

.description {
  @include font-orditron-400;
  font-size: 22px;
  margin: 0 30px 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 350px;

  @include bp-desktop {
    min-width: 350px;
    max-width: 350px;
  }

  @include bp-tablet {
    width: 90%;
    margin-bottom: 30px;
  }

  @include bp-mobile {
    font-size: 22px;
    margin: 0 0 36px 0;
   
  }
}

.description_box {
  max-width: 600px;
  background-color: $salt;
  padding: 40px;
  border-radius: 10px;
  transform: translate(-25%, 170px);
  z-index: 5;
  align-self: center;
  display: flex;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.205);

  @include bp-desktop {
    padding: 30px 40px;

    &:hover {
      max-width: 650px;

      & .svg_icon {
        width: 180px;
        background: $carbon;
      }
    }
  }

  &:hover .svg_icon {
    // width: 180px;
    // background: $carbon;

    &:hover {
      background-color: $lava;
    }

    &::before {
      transition: all 0.3s;
      filter: brightness(5);
      margin-right: 16px;
      transform: rotate(90deg) scale(0.6);
    }

    &::after {
      @include font-orditron-500;
      font-size: 18px;
      color: $salt;
      content: 'REQUEST';
      transform-origin: right;

      animation: swipeLeft 0.3s;
    }
  }

  @include bp-tablet {
    width: 80%;
    flex-direction: column;
    transform: translate(0, -80px);
    position: relative;
  }

  @include bp-custom-down(600px) {
    transform: translate(0, 0);
  }

  @include bp-mobile {
    background-color: $carbon;
    color: $salt;
    margin-top: 10px;
    z-index: 8;
    transform: translate(0, 0);
  }
}

.svg_icon {
  @extend %transition01;
  @extend %flexBetween;
  @include square(70px);
  
  justify-content: center;
  background-color: #d4d3d3;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $fog;

  overflow: hidden;

  &::before {
    content: url(../../../assets/icons/arrow.svg);
    @extend %flexCenter;
    @extend %transition01;
    @include square(20px);

    transform: translate(1px, 1px);

    @include bp-tablet {
      filter: brightness(5);
      margin-right: 16px;
      transform: rotate(90deg) scale(0.6) translate(0px, 0px);
      transform-origin: center;
    }
  }

  @include bp-tablet {
    width: 190px;
    background: $carbon;

    &::after {
      @include font-orditron-500;
      font-size: 18px;
      color: $salt;
      content: 'REQUEST';
      transform-origin: right;
      animation: swipeLeft 0.3s;
    }
  }
}

.bgIllustration {
  @extend %bgIllustration;
  z-index: 0;
}